html,
body {
  height: 100%;
  margin: 0;

  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

body {
  align-items: center;
  display: flex;
  justify-content: center;

  background: linear-gradient(to bottom right, #444444, #009a5b);
  font-size: 1.5rem;
}

main {
  color: #fff6d5;
  font-family: sans-serif;
  text-align: center;
}

.graph-editor {
  background-color: black;
  flex-direction: row;
  display: flex;
  width: 800px;
  height: 400px;
}

.graph-handle {
  flex: 1;
  display: flex;

  .graph-handle-indicator {
    width: 100%;
    background-color: red;

    transform: scaleY(-1);

  }
}
